repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.961
    hooks:
      - id: mypy
        args: [--show-error-codes, --ignore-missing-imports, --follow-imports, skip]
        name: mypy ConfigSpace
        files: ConfigSpace

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        name: flake8 ConfigSpace
        files: ConfigSpace

      - id: flake8
        name: flake8 test
        files: test

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.14.0
    hooks:
    -   id: cython-lint
        args: [--no-pycodestyle]
    -   id: double-quote-cython-strings
