default_language_version:
  python: python3
files: |
  (?x)^(
    ConfigSpace|
    test
  )/.*\.py$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        files: ".*"
      - id: check-case-conflict
        files: ".*"
      - id: check-merge-conflict
        files: ".*"
      - id: check-yaml
        files: ".*"
      - id: end-of-file-fixer
        files: ".*"
        types: ["yaml"]
      - id: check-toml
        files: ".*"
        types: ["toml"]
      - id: debug-statements
        files: '^src/.*\.py$'
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.22.0
    hooks:
      - id: check-github-workflows
        files: '^github/workflows/.*\.ya?ml$'
        types: ["yaml"]
      - id: check-dependabot
        files: '^\.github/dependabot\.ya?ml$'
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        files: '^ConfigSpace/.*\.py$'
        additional_dependencies:
          - "types-pyyaml"
        args:
          - "--no-warn-return-any" # Disable this because it doesn't know about 3rd party imports
          - "--ignore-missing-imports"
          - "--show-traceback"
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --no-cache]
      - id: ruff-format
