language: python

cache:
  apt: true
  directories:
    - $HOME/.cache/pip
  pip: true

sudo: false

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

env:
  matrix:
    - DISTRIB="conda" PYTHON_VERSION="3.5"
    - DISTRIB="conda" PYTHON_VERSION="3.6" RUN_FLAKE8="true"
    - DISTRIB="conda" PYTHON_VERSION="3.7.3" DOCPUSH="true"

install:
  - source ci_scripts/install.sh

# command to run tests, e.g. python setup.py test
script:
  - |
    set -e
    if [ "$RUN_FLAKE8" == "true" ]; then
      pip install flake8
      ./ci_scripts/flake8_diff.sh
    fi
    pytest -sv --cov=ConfigSpace test

after_success:
  - source ci_scripts/create_doc.sh $TRAVIS_BRANCH "doc_result"
  - codecov

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  committer-from-gh: true
  on:
    branch: master
    condition: $doc_result = "success"
  local_dir: docs/$TRAVIS_BRANCH
