name: Tests
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  # Allow to manually trigger through github API
  workflow_dispatch:

  # Triggers with push to master
  push:
    branches:
      - main

  # Triggers with push to a pr aimed at master
  pull_request:
    branches:
      - main

  schedule:
    # Every day at 7AM UTC
    - cron: '0 07 * * *'

env:

  package-name: ConfigSpace
  test-dir: test
  extra-requires: "[test]"  # "" for no extra_requires

  # Arguments used for pytest
  pytest-args: >-
    --durations=20
    -v


jobs:

  # General unit tests
  source-test:
    name: ${{ matrix.python-version }}-${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash # Default to using bash on all

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: pyproject.toml

    - name: Install ${{ env.package-name }}
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e ".${{ env.extra-requires }}"

    - name: Store git status
      id: status-before
      shell: bash
      run: |
        echo "::set-output name=BEFORE::$(git status --porcelain -b)"

    - name: Tests
      timeout-minutes: 45
      run: |
        pytest ${{ env.pytest-args }} ${{ env.test-dir }}

    - name: Check for files left behind by test
      run: |
        before="${{ steps.status-before.outputs.BEFORE }}"
        after="$(git status --porcelain -b)"
        if [[ "$before" != "$after" ]]; then
            echo "git status from before: $before"
            echo "git status from after: $after"
            echo "Not all generated files have been deleted!"
            exit 1
        fi
